body {
    height: 100vh;
    width: auto;
    margin: 0;
    background-color: #004A98;

    .logs {
        height: 100%;
        width: 100%;
        margin: 0;
        position: relative;
        z-index: 2;
        .main {
            height: 90%;
            width: 80%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            h1 {
                font: normal 30px 'Roboto', sans-serif ;
                color: #FFFFFF;
            }
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            gap: 20px;
            width: 100%;
            height: 100%;
            .grid-item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: #EEEEEE;
                border-radius: 10px;
                box-shadow: 0px 4px 10px black;
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.05);
                }
                img {
                    max-width: 30%;
                    max-height: auto;
                }
                h2 {
                    font: normal 18px 'Roboto', sans-serif;
                    margin: 0;
                }
                p {
                    font: normal 12px 'Roboto', sans-serif;
                    margin: 0;
                }
            }
    
        }
    }

    header {
        nav {
            .nav-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%; /* Ensures full width */
                padding: 0 20px; /* Add padding to the sides if needed */
            }
            .center-brand {
                text-align: center;
                flex: 1; /* Center this section while pushing other elements to the sides */
                display: flex;
                justify-content: center;
                h1.emergen {
                    margin: 0;
                    color: #C40C0C;
                }
                h1.see {
                    margin: 0;
                    color: white;
                }
            }
        }
    }
    .main-section {
        height: 100%;
        width: auto;
        .container {
            height: 90%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .main {
                background-color: #D9D9D9;
                border-radius: 20px;
                height: 90%;
                width: 40%;
                display: flex;
                justify-content: center;
                h1 {
                    font: 30px, 'Crimson Text', sans-serif;
                    text-align: center;
                    margin: 10%;
                    color: #000000;
                }
                label {
                    font: 12px 'Roboto', sans-serif;
                    color: #444444;
                }
                input {
                    height: 30px;
                    margin: 5px 0 10% 0;
                    border-radius: 10px;
                    border: none;
                    color: #000000;
                }
                input[type="file"] {
                    display: none;
                }
                a {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                }
                .button-div {
                    display: flex;
                    justify-content: center;
                    .submit-button {
                        height: 30px;
                        width: 90px;
                        background-color: #347928;
                        color: white;
                        border: none;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) { 
    body {
        height: 100vh;
        
        .status-report {
            .container-status {
                margin: 10% 0 0 0;
                display: flex;
                justify-content: center;
                .status {
                    text-align: center;
                    color: #FFFFFF;
                    h1 {
                        font: normal 700 30px 'Roboto', sans-serif;
                    }
                    .report {
                        font: normal 18px 'Roboto', sans-serif;
                    }
                    p {
                        font: normal 14px 'Roboto', sans-serif;
                    }
                    .current-address {
                        color: #000000;
                        text-align: center;
                        background-color: #FFFFFF;
                        border: 1px solid #D9D9D9;
                        border-radius: 10px;
                        padding: 1%;
                        h2 {
                            font: normal 12px 'Roboto', sans-serif;
                            text-align: start;
                            border-bottom: 1px solid #D9D9D9;
                        }
                    }
                }
            }
        }
    }

    header {
        nav {
            .nav-container-status {
                display: flex;
                flex-direction: row;
                .center-brand {
                    justify-items: center;
                }
                .log-out-nav {
                    button.log-out {
                        margin: 8px 10px 0 0;
                        height: 35px;
                        background-color: #C40C0C;
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    .transparent {
                        opacity: 0;
                    }
                }
            }
            .nav-container {
                align-items: center; 
            }
            .left-nav {
                margin: 10px 0;
            }
            .center-brand {
                padding: 10px 0; 
            }
        }
    }

    .main-section {
        display: flex;
        justify-content: center;
        .container-sign-up {
            margin: 10px 0 0 0;
            height: 90%;
            width: 80%;
            display: flex;
            justify-content: center;
            .main-sign-up {
                background-color: #D9D9D9;
                border-radius: 20px;
                height: 60%;
                width: 90%;
                display: flex;
                justify-content: center;
                h1 {
                    font: 30px, 'Crimson Text', sans-serif;
                    text-align: center;
                    margin: 10%;
                    color: #000000;
                }
                label {
                    font: 12px 'Roboto', sans-serif;
                    color: #444444;
                }
                input {
                    height: 30px;
                    margin: 5px 0 10% 0;
                    border-radius: 10px;
                    border: none;
                    color: #000000;
                }
                a {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                }
                .button-div {
                    display: flex;
                    justify-content: center;
                    .submit-button {
                        height: 30px;
                        width: 90px;
                        background-color: #347928;
                        color: white;
                        border: none;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
                        border-radius: 10px;
                    }
                }
            }
        }
        .container {
            height: 50% !important;
            width: 90% !important;
            .main {
                border-radius: 10px;
                width: 90% !important; 
            }
        }
        .container-upload {
            height: 90%;
            width: auto;
            margin: 30% 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font: 14px 'Roboto', sans-serif;
                width: 204px;
                text-align: center;
                color: #FFFFFF;
            }

            .upload-section {
                background-color: #6692C1;
                border: 4px dashed #B3C8E0;
                border-radius: 20px;
                height: 20%;
                width: 80%;
                .remove-icon {
                    height: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    img {
                        height: 30px;
                        width: auto;
                        margin: 5px 5px 0 0;
                    }
                }
                .upload-icon {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .file {
                        height: 38px;
                        width: auto;
                        opacity: .7;
                    }
                    img {
                        height: 80px;
                        width: auto;
                        opacity: .5;
                    }
                    p {
                        font: 14px 'Roboto', sans-serif;
                        color: #FFFFFF;
                    }
                }
                .upload-button {
                    margin: 20px 0 0 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        background-color: #6692C1;
                        color: #FFFFFF;
                        width: 200px;
                        height: 42px;
                        border: none;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
