{%extends "base.html"%}
{%block content%}
<section class="logs" id="Logs">
    <div class="main">
        <h1>Logs</h1>
        <div class="grid-container">
            {% for image in page_obj %}
            <div class="grid-item">
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                <h2>{{ image.title }}</h2>
                <p>{{ image.address }}</p>
            </div>
            {% endfor %}
        </div><br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>
{%endblock content%}